
body{
    font-family: arial,sans-serif;
      background-color:rgb(200, 200, 244);
    }

.container{
   
    clear: both;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}

.weather-app-wrapper{
   max-width: 652px;
   margin: 30px auto;
}

.weather-app{
   background-color: antiquewhite;
    max-width: 652px;
    border: 1px solid #9ea0a3;
    border-radius: 10px;
    padding: 20px;}

 h1{
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 16px;
 }   

 h2{
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    margin: 0px;
 }
 h3{
    color: #70757a;
    font-size: 16px;
    line-height: 20px;
    margin:0px;
 }

 a{
   text-decoration: none;
 }
 .col-6.info{
    color: #70757a;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
  
    text-align: right;}

    .col-3{
        padding: 0px;
    }
    
    
    .col-3 .units{
        position: relative;
        font-size: 16px;
        top: -30px;
    }


    .weather-temperature img{
   vertical-align: middle;
    position: relative;
    top: -6px;
    }
 li{
    list-style: none;
 }

 .weather-temperature .active{
color: #202124;
cursor: default;
 }

 .weather-temperature .active:hover{
   text-decoration: none;
    }

    .weather-forecast{
    text-align: center;
    color: #202124;
   }

    .weather-forecast-day
    {
      line-height: 15px;
      padding-top: 7px;
    }

    #weather-forecast-max, #weather-forecast-min{
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
   }
   #weather-forecast-min{
   color:rgb(112, 117, 122)}
   
 #parameters{
    padding: 0px;
    color: #70757a;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
 }

 #temperatures{
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
 }
 #Celsium,#units{
font-size: 16px;

 }

 #Celsium{
   position: relative;
   top: 3px;
 }

 #units{
   position: relative;
   top: 3px;
 }

 #description::first-letter{
   text-transform: capitalize;
 }
 #icon{
   width: 60px;
   height: 60px;
 }