
body{
    font-family: arial,sans-serif;
}
.container{
   
    clear: both;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}

.weather-app-wrapper{
   max-width: 652px;
   margin: 30px auto;
}

.weather-app{
    max-width: 652px;
    border: 1px solid #9ea0a3;
    border-radius: 10px;
    padding: 20px;}

 h1{
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 16px;
 }   

 h2{
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    margin: 0px;
 }
 h3{
    color: #70757a;
    font-size: 16px;
    line-height: 20px;
    margin:0px;
 }

 a{
   text-decoration: none;
 }
 .col-6.info{
    color: #70757a;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
    text-align: right;}

    .col-3{
        padding: 0px;
    }
    
    
    .col-3 .units{
        position: relative;
        font-size: 16px;
        top: -30px;
    }


    .weather-temperature img{
   vertical-align: middle;
    position: relative;
    top: -6px;
    }
 li{
    list-style: none;
 }
 #parameters{
    padding: 0px;
    color: #70757a;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
 }

 #temperatures{
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
 }
 #Celsium,#units{
font-size: 16px;

 }

 #Celsium{
   position: relative;
   top: 3px;
 }

 #units{
   position: relative;
   top: 3px;
 }

 #description{
   text-transform: capitalize;
 }